body {
	background-color: #fff;
	color: #111;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

section {
	margin: 0 10%;
	padding: 60px 0;
}

#header {
	padding: 50px 0;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: left;
}

h4 {
	font-weight: bolder;
	margin: 20px 0 0 0;
}

nav {
	background-color: #fff;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 100;
}

nav ul {
	margin: 0 10% 0 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 10px 15px;
	cursor: pointer;
}

nav ul li:hover {
	text-decoration: underline;
}

.bg-container {
	background-image: url(pics/backgrounds/1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	background-size: cover;
	height: 54em;
}

.bg-container.second {
	background-image: url(pics/backgrounds/2.jpg);
	height: 60em;
}

.bg-container.third {
	background-image: url(pics/backgrounds/3.jpg);
	height: 60em;
}

h2 {
	margin: 0;
	padding: 20px 0;
}

#welcome {
	color: #fff;
	font-size: 22px;
	padding: 50px 20px;
	position: relative;
	text-align: center;
	top: 20em;
}


/*Works section:*/
#works h2 {
	border: 0;
}

#worksContainer {
	text-align: center;
	padding: 50px 0;
}

#worksContainer a:nth-child(1){
	background-image: url("pics/icons/iconmonstr-paper-plane-2-72.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30%;
}
#worksContainer a:nth-child(2){
	background-image: url("pics/icons/iconmonstr-glasses-7-72.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#worksContainer a:nth-child(3){
	background-image: url("pics/icons/iconmonstr-book-17-72.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30%;
}
#worksContainer a:nth-child(4){
	background-image: url("pics/icons/iconmonstr-location-12-72.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30%;
}
#worksContainer a:nth-child(5){
	background-image: url("pics/icons/iconmonstr-compass-10-72.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35%;
}

#works a {
	display: inline-block;
	margin: 10px 20px;
	width: 150px;
	height: 150px;
	border: 3px double black;
	opacity: 0.7;
	background-position: center top;
}

#works a:hover {
	border: 3px solid black;
}

#works p {
	text-align: center;
}

#description {
	margin: 0;
	padding: 5px 20px 25px;
}


/*About section:*/
.aboutItem {
	padding: 25px;
}

.emphasize {
	background-color: #444;
	color: #fff;
	padding: 0 3px 0 3px;
}

#what p {
	margin: 0;
	padding: 50px 0;
}

.aboutItem ul {
	-webkit-columns: 80px 2;
	-moz-columns: 80px 2;
	columns: 80px 2;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.whatIcons {
	height: 30px;
	width: auto;
	margin: 10px;
}

.skillEstimate {
	padding: 15px 0;
	display: block;
}

.skillEstimate span {
	padding-left: 20px;
}


/*Contact section:*/
#contact {
	position: relative;
}

#mailMe {
	margin: 0;
	padding: 20px;
}

#contact a {
	margin: 20px;
	text-decoration: none;
}

#contact a div {
	background-image: url(pics/icons/icons-sprite.png);
	display: inline-block;
	height: 50px;
	opacity: .8;
	width: 50px;
}

#bitbucket {
	background-position: -23px -127px;
}

#linkedin {
	background-position: -78px -127px;
}

#up {
	bottom: 40px;
	cursor: pointer;
	font-size: 2em;
	font-weight: bolder;
	position: absolute;
	right: 0;
}


/*Footer:*/
footer {
	font-size: 9px;
	text-align: center;
}


/* Media queries:*/
@media (max-width: 765px){
	#header {
		padding-top: 70px;
	}
	nav {
		text-align: left;
	}
	nav ul {
		margin: 0 0 0 10%;
	}
	nav ul li {
		margin: 10px 10px 10px 0;
	}
	#works a {
		width: 80px;
		height: 80px;
	}
	#worksContainer a:nth-child(2){
		background-size: 50%;
	}
	#worksContainer {
		padding-bottom: 0;
	}
	#description {
		display: none;
	}
}

@media (max-width: 620px){
	.skillEstimate img {
		display: none;
	}
}

@media (max-width: 560px){
	section {
		margin: 0 5%;
	}
	nav ul {
		margin: 0 0 0 5%;
	}
	.aboutItem {
		padding: 10px;
	}
	.aboutItem ul{
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		text-align: left;
	}
}

@media (max-width: 350px){
	#mailMe {
		padding: 20px 0;
	}
	#contact a {
		margin: 20px 20px 20px 0;
	}
}

.skillImg {
	background-image: url(pics/icons/icons-sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 50px;
	margin-right: 10px;
	vertical-align: middle;
	width: 50px;
}

.skillEstimate:nth-child(2) .skillImg {
	background-position: -68px 0;
}
.skillEstimate:nth-child(3) .skillImg {
	background-position: -128px -6px;
}
.skillEstimate:nth-child(4) .skillImg {
	background-position: -187px -5px;
	width: 55px;
}
.skillEstimate:nth-child(5) .skillImg {
	background-position: -253px 0;
	height: 60px;
}
.skillEstimate:nth-child(6) .skillImg {
	background-position: -306px -1px;
}
.skillEstimate:nth-child(7) .skillImg {
	background-position: 5px -63px;
	height: 62px;
}
.skillEstimate:nth-child(8) .skillImg {
	background-position: -50px -63px;
}
.skillEstimate:nth-child(9) .skillImg {
	background-position: -110px -63px;
}
.skillEstimate:nth-child(10) .skillImg {
	background-position: -170px -75px;
}
.skillEstimate:nth-child(11) .skillImg {
	background-position: -228px -69px;
}
.skillEstimate:nth-child(12) .skillImg {
	background-position: -295px -69px;