body {
	background-color: #b4e2d7;
	background-image: url("wavecut.png");
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

* {
	box-sizing: border-box;
}

header {
	background-color: #b4e2d7;
	box-shadow: 0 1px 15px #b2afa8;
	position: absolute;
	width: 100%;
	top: 0;
}

#mainNav {
	margin-top: 140px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3px;
}

.clear {
	clear: both;
}

#logo {
	width: 70px;
	float: left;
	margin: 10px 20px 0 3px;
}

h1 {
	padding: 15px 5px;
	margin: 0;
	float: left;
	color: #fff;
	font-size: 50px;
}

#loginForm {
	width: 170px;
	float: right;
	margin: 10px 0 10px;
}

#loginForm input {
	float: right;
	margin: 3px;
}

#login, #register {
	background-color: #b2afa8;
	display: inline-block;
}

#login:hover, #register:hover {
	background-color: #28b99a;
}

#overlay {
	background-color: rgba(0,0,0,.7);
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

#registerForm {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: #28b99a;
	text-align: center;
	border-radius: 20px;
	margin-top: 120px;
	padding: 100px 0;
	position: relative;
}

h2 {
	color: #fff;
	margin-top: 0;
}

#close {
	color: #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 20px;
	top: 20px;
}

#register2:hover, #nope:hover {
	background-color: #67655f;
	color: #fff;
}

nav {
	text-align: right;
	margin: 50px 3px 0 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 10px 40px;
	transition: color 0.5s ease;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	background-color: #d67b44;
	margin: 0;
}

nav ul li:first-child {
	border-radius: 20px 0 0 20px;
}

nav ul li:last-child {
	border-radius: 0 20px 20px 0;
}

nav ul li a:hover {
	color: #67655f;
	text-decoration: underline;
}

#accountNav {
	margin: 0;
}

#accountNav ul {
	margin-top: 0;
	padding: 15px 0;
}

#accountNav ul li {
	font-size: 15px;
	background-color: #28b99a;
	padding: 6px 15px;
}

nav a {
	text-decoration: none;
	color: #fff;
	transition: color 0.5s ease;
}

nav a:hover {
	color: #67655f;
	text-decoration: underline;
}

#accountNav ul li:last-child {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	vertical-align: middle;
	margin-left: -5px;
}

#browsingBooks {	
	margin: 50px 3px 25px;
}

#browsingBooks .container {
	background-color: #67655f;
	border-radius: 20px;
	padding: 20px 0;
}

#browsingBooks p {
	margin: 20px 40px;
	color: #b2afa8;
}

#searchForm {
	text-align: center;
	margin: 10px auto;
	color: #d67b44;
}

#searchForm p {
	color: #d67b44;
	margin: 10px;
}

#search {
	background-color: #d67b44;
}

#genresSearch {
	background-color: #b2afa8;
	width: 340px;
}

#genresSearchForm {
	text-align: center;
	margin: 55px 55px 20px;
}

#genresSearchForm ul, #addingBooks ul, #listOfBooks ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

#genresSearchForm li, #addingBooks li, #myBooks li, #listOfBooks li {
	display: inline-block;
	width: 110px;
	text-align: left;
}

.showBooks {
	background-color: #b2afa8;
	width: 340px;
	margin-top: 55px;
}

#genresSearch:hover, .showBooks:hover {
	background-color: #d67b44;
}

input {
	border: none;
	padding: 6px;
	border-radius: 20px;
	margin: 5px;
	outline: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

#searchResults {
	margin: 50px auto;
}

#searchResults .book {
	text-align: left;
	margin-left: 45px;
}

#searchResults .book p {
	margin: 0;
}

#content2 .container>div {
	width: 49%;
	border-radius: 20px;
}

#someInfo p {
	padding: 40px;
	margin: 0;
}

#content2 .container>div:first-child {
	background-color: #d67b44;
	color: #fff;
	margin-right: 1%;
	float: left;
}

#content2 .container>div:last-child {	
	background-color: #b2afa8;
	margin-left: 1%;
	float: right;
}

#recentBooks h3 {
	margin: 30px;
}

.book {
	margin: 25px 0;
}

.cover img {
	width: 60px;
	margin: 0 30px;
	float: left;
}

.title {
	margin: 5px 0;
}

.bookInfo>p {
	margin: 5px 0;
}

.genres {
	font-style: italic;
}

footer {
	background-color: #28b99a;
	color: #fff;
	width: 100%;
	margin-top: 60px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

footer p {
	padding: 10px;
	font-size: 12px;
	font-weight: 300;
}

a:hover {
	cursor: pointer;
}


/*AccountNav subpages*/

#addingBooks {
	margin-top: 80px;
}

#addingBooks .container {
	background-color: #b2afa8;
	padding: 20px 20px 40px;
	border-radius: 20px;
	text-align: center;
}

#addingBooks h2, #addingBooks h3 {
	text-align: left;
	padding: 20px;
}

#addingBooks .newTitle, #addingBooks .newAuthor {
	width: 96%;
	text-align: center;
}

#addingBooks form div:first-child {
	margin: 0 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: #28b99a;
}

#addingBooks ul {
	margin: 20px;
	background-color: #b4e2d7;
	border-radius: 20px;
	padding: 40px;
	text-align: center;
}

#addingBooks h3 {
	color: #fff;
	margin-top: 60px;
}

#newDescription {
	margin: 20px;
}

#newDescription h3 {
	padding: 20px 0;
}

#newDelivery input:last-child {
	text-align: center;
}

textarea {
	width: 100%;
	height: 130px;
	max-height: 130px;
	border: none;
	border-radius: 20px;
	padding: 15px;
	outline: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}

#addNewBook {
	background-color: #b4e2d7;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 50px;
	margin-top: 50px;
}

#addNewBook:hover {
	background-color: #28b99a;
}

#myBooks {
	margin-top: 80px;
}

#myBooks h2 {
	padding: 20px;
}

#myBooks .container {
	background-color: #b2afa8;
	border-radius: 20px;
	padding: 20px 20px 40px;
}

#myBooks .book, #listOfBooks .book, #literaryNews .newsItem {	
	border-radius: 10px;
	padding: 10px;
}

#myBooks .toGive {
	background-color: #b4e2d7;
}

#myBooks form, #listOfBooks form {
	text-align: center;
	margin: 20px;
	background-color: #28b99a;
	border-radius: 20px;
	padding: 40px;
}

#myBooksSearchResults {
	margin: 20px;
	text-align: center;
}

#myBooksSearchResults .book, #listOfBooks .book {
	width: 49%;
	display: inline-block;
	text-align: left;
}

#myBooks h3, #listOfBooks h3 {
	text-align: left;
}

#myBooks ul {
	padding: 0;
	list-style: none;
	margin: 0 auto 30px;
}

#filter {
	background-color: #b4e2d7;
	width: 340px;
	margin-top: 55px;
	color: #67655f;
}

#filter:hover {
	background-color: #67655f;
	color: #fff;
}


/*MainNav subpages*/

#about .container {
	background-color: #67655f;
	border-radius: 20px;
	padding: 40px;
	margin: 50px auto 25px;
	color: #b2afa8;
}

#about img {
	width: 100px;
	margin: 20px;
	float: left;
}

#usingBooksy h3 {
	margin: 30px;
}

#usingBooksy p {
	padding: 0;
	margin: 0 30px 30px;
}

#listOfBooks .container {
	background-color: #b2afa8;
	border-radius: 20px;
	padding: 40px;
	margin: 50px auto 25px;
}

#listOfBooks .container .showBooks {
	background-color: #b2afa8;
	color: #fff;
	margin: 55px auto 0;
}

#listOfBooks .container .showBooks:hover {
	background-color: #d67b44;
}

#listOfBooks form {
	background-color: #67655f;
}

#listOfBooks .booksContainer {
	margin: 20px;
	text-align: center;
}

#listOfBooks .toGive {
	background-color: #67655f;
	color: #fff;
}

#listOfBooks h3 {
	color: #d67b44;
}

#literaryNews .container {
	background-color: #b2afa8;
	border-radius: 20px;
	padding: 40px;
	margin: 50px auto 25px;
}

#literaryNews .container a {
	text-decoration: none;
	margin: 15px;
}

.newsItem {
	background-color: #67655f;
	color: #fff;
}

.newsItem:hover {
	background-color: #d67b44;
	color: #fff;
}

.newsInfo>p {
	margin: 8px 0;
}

/*-------------------------------*/
/*Media queries*/

@media (max-width: 760px) {
	#listOfBooks .book {
		width: 100%;
		display: block;
	}
}

@media (max-width: 700px) {
	#accountNav ul li:last-child {
		display: none;
	}
	#accountNav ul li:nth-child(3) {
		border-radius: 0 20px 20px 0;
	}
	#mainNav {
		margin: 140px auto 0;
	}
	#mainNav li {
		padding: 10px 25px;
	}
	#someInfo, #recentBooks {
		margin: auto;
		float: none;
	}
	#someInfo {
		margin-bottom: 25px;
	}
	#content2 .container>div {
		width: 100%;
	}
	#recentBooks {
		margin-top: 25px;
	}
	#myBooksSearchResults .book {
		width: 100%;
	}
}

@media (max-width: 600px) {
	#accountNav ul li {
		display: block;
		border-radius: 20px;
		text-align: center;
		margin-top: 3px;
	}
	#accountNav ul li:nth-child(3) {
		border-radius: 20px;
	}
	#accountNav ul {
		width: 100px;
		float: right;
	}
	#mainNav {
		margin: 180px auto 0;
	}
	#listOfBooks .showBooks {
		width: auto;
		padding: 10px;
	}
	#filter {
		width: auto;
		padding: 10px;
	}
}

@media (max-width: 520px) {
	#mainNav ul {
		padding-left: 0;
	}
}

@media (max-width: 450px) {
	#mainNav {
		margin: 230px auto 0;
	}
	#mainNav li {
		display: block;
		text-align: center;
		border-radius: 20px;
		margin-top: 3px;
	}
	#mainNav li:hover {
		text-decoration: underline;
	}
	header h1 {
		margin-right: 20px;
	}
	#accountNav ul {
		width: 100%;
		text-align: right;
		padding: 0;
		margin: 5px auto 20px;
	}
	#accountNav ul li {
		display: inline-block;
		border-radius: 0;
	}
	#accountNav ul li:nth-child(3) {
		border-radius: 0 20px 20px 0;
	}
	#accountNav ul li:first-child {
		border-radius: 20px 0 0 20px;
	}	
}
@media (max-width: 440px) {
	#genresSearch {
		width: auto;
	}
	#browsingBooks .showBooks {
		width: auto;
	}
}

/*Colors:
mint-blue: #b4e2d7;
orange: #d67b44;
lightgrey: #b2afa8;
darkgrey: #67655f;
strong mint: #28b99a;*/