body {
	font-size: 21px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 8px;
}
header {
	box-shadow: 0 0 10px #ccc;
	padding-bottom: 15px;
	position: relative;
	z-index: 10;
}
#logo {
	float: left;
}
#logo img {	
	max-width: 180px;
}
nav {
	float: right;
	margin-top: 30px;
}
ul span {
	font-weight: 100;
}
nav li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	font-weight: 300;
}
nav>ul>li>a {
	text-decoration: none;
	color: black;
}
nav>ul>li>a:hover {
	color: #308f5c;
}
.nav-active {
	/*underline effect at the end of this document*/
	color: #308f5c;
}
.clearfix {
	clear: both;
}
.content {
	background-image: url("pics/backgrounds/white_wall_hash/white_wall_hash_@2X.png");
	background-attachment: fixed;
}
h2, h3, h4 {
	font-family: 'Lora', Georgia, serif;
}
p {
	font-family: 'Lora', Georgia, serif;
	line-height: 1.6;
}
/*Sticky submenus:*/
.sticky {
    position: fixed;
    /*width: 100%;*/
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
/*----------------------------------------------------------------------------------------------
Aktualności
----------------------------------------------------------------------------------------------*/
#main-slider {
	margin: 20px 10%;
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
}
.flexslider p {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin: 0;
	line-height: 1;
	text-align: center;
}
.slogan {
	position: absolute;
	bottom: 10px;
	color: #fff;
	font-size: 75px;
	width: 100%;
}
#main-slider .flex-direction-nav {
    display: none;
}
#news article {
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	margin: 50px 10%;
	padding: 16px;
	background-color: rgba(255,255,255,0.4);
}
#news .date {
	font-weight: 300;
	font-size: 15px;
}
#news .article-body {
	font-size: 19px;
}
#news .article-body a {
	color: #308f5c;
	text-decoration: none;
}
#news .article-body a {
	text-decoration: underline;
}
.readmore {
	color: white;
	font-size: 18px;
	background-color: #308f5c;
	padding: 10px;
	border-radius: 3px;
	font-weight: 300;
	float: right;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.readmore:hover {
	text-decoration: none;
	box-shadow: 0 0 8px #888;
	cursor: pointer;
}
.author {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.showmore {
	color: white;
	font-size: 18px;
	background-color: #308f5c;
	padding: 10px;
	border-radius: 3px;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin: 50px 10%;
	text-align: center;
}
.showmore:hover {
	text-decoration: none;
	box-shadow: 0 0 8px #888;
	cursor: pointer;
}


/*----------------------------------------------------------------------------------------------
<Section> tags
----------------------------------------------------------------------------------------------*/
.tile {
	box-shadow: 0 0 10px #777;
	border-radius: 3px;
	background-color: rgba(48,143,92,0.25);
	width: 190px;
	height: 190px;
	/*text-align: center;*/
	display: flex;
	/* flex-direction: column;*/
    align-items: center; 
    justify-content: center;
}
section>ul>li>a {
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
}
section>ul>li>a:hover {
	box-shadow: 0 0 15px #ccc;
}
section li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	font-weight: 700;
	font-size: 30px;
	border-radius: 3px;
}
.highlight {
	font-weight: bold;
}
section>ul {
	padding: 0;
    text-align: center;
    float: right;
}
section>ul>li {
	padding: 0;
	margin: 10px;
}
section h2 {
	margin: 5px 0;
}
/*----------------------------------------------------------------------------------------------
Info
----------------------------------------------------------------------------------------------*/
#info h2 {
	float: left;
}

#info .tile {
	width: 145px;
	height: 145px;
}
#info>ul>li:first-child {
	background-image: url("pics/tiles/23.jpg");
	background-position: center;
	background-size: auto 120%;	
}
#info>ul>li:nth-child(2) {
	background-image: url("pics/tiles/20.jpg");
	background-position: center;
}
#info>ul>li:nth-child(3) {
	background-image: url("pics/tiles/21.jpg");
	background-position: center;	
}
#info>ul>li:nth-child(4) {
	background-image: url("pics/tiles/17.jpg");
	background-position: center;
	background-size: auto 120%;
}
#registers {
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
}
#info-statut div:nth-of-type(2){
	text-align: center;
	margin: 20px 0;
}
#info-statut a {
	text-decoration: none;
	color: #308f5c;
}
#info-statut a:hover {
	text-decoration: underline;
}
.box-zarzad {
	display: inline-block;
	box-shadow: 0 0 5px #ccc;
}
.box-historia {
	box-shadow: 0 0 5px #ccc;
	max-width: 320px;
	margin: 5px 15px 10px 0;
}
.box-half {
	width: 49%;
}
.right {
	float: right;
}
#info-historia .box-historia {
	float: left;
}
.info-header {
	background-color: #308f5c;
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px;
	text-align: center;
}
.info-header h4 {
	margin: 0;
}
#info-historia h4 {
	font-size: 18px;
}
#info-zarzad h4 {
	font-size: 20px;
}
.info-body {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: rgba(255,255,255,0.4);
	padding: 5px;
}
.info-body p {
	text-align: center;
	margin: 0;
	padding: 5px 20px;
	font-size: 18px;
	line-height: 1.35;
}
#board {
	width: 100%;
	margin-bottom: 20px;
}
#wiki-link {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin: 30px 0 50px 0;
}
#wiki-link a {
	text-decoration: none;
	background-color: #308f5c;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
}
#wiki-link a:hover {
	box-shadow: 0 0 8px #888;
}
#info-rekrutacja a {
	text-decoration: none;
	color: #308f5c;
}
#info-rekrutacja a:hover {
	text-decoration: underline;
}


/*----------------------------------------------------------------------------------------------
Sections
----------------------------------------------------------------------------------------------*/
#sections ul {
	max-width: 1024px;
	margin: auto;
}
#sections>ul>li:first-child {
	background-image: url("pics/tiles/16.jpg");
	background-position: center bottom;
	background-size: 160% auto;
}
#sections>ul>li:nth-child(2) {
	background-image: url("pics/tiles/14.jpg");
	background-position: center;
	background-size: auto 100%;
}
#sections>ul>li:nth-child(3) {
	background-image: url("pics/tiles/15.jpg");
	background-position: center;
	background-size: auto 120%;
}
#sections>ul>li:nth-child(4) {
	background-image: url("pics/tiles/22.jpg");
	background-position: center bottom;
	background-size: auto 120%;
}
#sections>ul>li:nth-child(5) {
	background-image: url("pics/tiles/24.jpg");
	background-position: center bottom;
	background-size: auto 120%;
}
#sections>ul>li:nth-child(6) {
	background-image: url("pics/tiles/25.jpg");
	background-position: center bottom;
	background-size: auto 120%;
}
#sections .tile {
	width: 145px;
    height: 145px;
    font-size: 22px;
}
/*----------------------------------------------------------------------------------------------
Schedules
----------------------------------------------------------------------------------------------*/
#schedules .tile {
	width: 160px;
	height: 160px;
}
#schedule2 div {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
#schedule2 div:last-child {
	border: none;
}
#schedule2 a {
	display: block;
	text-decoration: none;
    color: #308f5c;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}
#schedule2 a:hover {
	text-decoration: underline;
}
.box-schedules {
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	margin: 0 0 50px;
}
.schedules-header {
	background-color: #308f5c;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px;
	text-align: center;
}
.schedules-header h4 {
	margin: 10px 0;
}
.schedules-body {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: rgba(255,255,255,0.4);
	padding: 5px;
}
.schedules-body p {
	margin: 0 15px;
	padding: 15px 0;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
}
.schedules-body p:last-child {
	border: none;
}
.schedules-body h5 {
	margin: 15px 0;
}
.schedules-body div {
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: 1px solid #ccc;
}
.schedules-body div:last-child {
	border: none;
}
.schedules-body span {
	padding-right: 20px;
}
.lecture-title {
	font-size: 20px;
	font-weight: bold;
}
#schedules>ul>li:nth-child(1) {
	background-image: url("pics/tiles/26.jpg");
	background-position: center bottom;
	background-size: auto 120%;
}
#schedules>ul>li:nth-child(2) {
	background-image: url("pics/tiles/27.jpg");
	background-position: center bottom;
	background-size: auto 120%;
}
#schedules ul {
	float: right;
	margin-bottom: 30px;
}
#schedules h2 {
	float: left;
}
/*----------------------------------------------------------------------------------------------
Galleries
----------------------------------------------------------------------------------------------*/
#galleries h2 {
	margin: 0 0 50px;
}
#galleries a {
	text-decoration: none;
	border: none;
	text-align: center;
}
#galleries a p {
	margin: 0 auto;
	padding: 5px 0;
	max-width: 60%;
}
#galleries a p:first-child {
	background-color: #308f5c;
	color: white;
	box-shadow: 0 0 5px #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#galleries a p:last-child {
	box-shadow: 0 0 5px #ccc;
	background-color: rgba(255,255,255,0.4);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 70px;
	color: black;
}
.footer-galleries {	
    margin-top: 500px;
}
/*----------------------------------------------------------------------------------------------
Contact
----------------------------------------------------------------------------------------------*/
#contact>div>div {
	box-shadow: 0 0 5px #ccc;
	margin: 60px 0;
	max-width: 400px;
	border-radius: 3px;
	background-color: rgba(255,255,255,0.4);
}
#contact.div, #map {
	display: inline-block;
}
.contact-float {
	float: left;
}
#map {
	float: right;
	margin: 60px 0;
	box-shadow: 0 0 5px #ccc;
	height: 300px;
	background-color: #fff;
	padding: 3px;
	border-radius: 3px;
}
#map a {
	display: block;
	text-decoration: none;
    color: #308f5c;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
#map a:hover {
	text-decoration: underline;
}
#map iframe {
	width: 450px;
	height: 300px; 
}
.contact-header {
	background-color: #308f5c;
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px;
}
.contact-body {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 5px;
}
.contact-body p {
	text-align: center;
	margin: 0;
	padding: 20px;
}
#contact img {
	width: 30px;
	vertical-align: baseline;
	margin-right: 20px;
}
#contact img, #contact h3 {
	display: inline-block;
}
#contact h3 {
	margin: 0;
	float: right;
}

/*----------------------------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------------------------*/
footer {
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding: 15px;
	margin-top: 100px;
}


/*Hover effect on tiles:*/
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #308f5c;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.nav-active {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.nav-active:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #308f5c;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-active:before, .nav-active:focus:before, .nav-active:active:before {
  left: 0;
  right: 0;
}

/*Media queries:*/
@media (max-width: 1090px){
	.container {
		margin: 0 10px;
	}
}
@media (max-width: 980px){
	nav {
		font-size: 18px;
	}
}
@media (max-width: 930px){
	#map {
		display: block;
		float: none;
		max-width: 400px;
		margin: 0;
	}
	#map iframe {
		max-width: 400px;
	}
	#map a {
		font-size: 16px;
	}
	.contact-float {
    	float: none;
    	display: block;
	}
}
@media (max-width: 895px){
	nav {
		float: none;
		margin: 20px auto;
		text-align: center;
	}
	nav ul {
		margin: 0;
		padding: 0;
	}
	#logo {
		float: none;
	}
}
@media (max-width: 830px){
	.slogan {
		font-size: 60px;
	}
}
@media (max-width: 720px){
	#info .tile {
		width: 120px;
		height: 120px;
	}
}
@media (max-width: 680px){
	.box-half {
		width: 100%;
		float: none;
		margin-top: 15px;
	}
	#board {
		margin: 0;
	}
}
@media (max-width: 620px){
	#info .tile {
		width: 110px;
		height: 110px;
	}
}
@media (max-width: 600px){
	.slogan {
		font-size: 40px;
	}
}
@media (max-width: 560px){
	#info-historia .box-historia {
		max-width: 100%;
		float: none;
		margin: 0;
	}
}
@media (max-width: 450px){
	#map iframe {
		width: 320px;
	}
	#map {
		max-width: 320px;
		margin: auto;
	}
}
@media (max-width: 390px){
	#schedules .tile {
		width: 150px;
		height: 150px;
	}
}

