body {
	background-color: #9F8B4C;
	color: #2E141D;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}

nav {
	background-color: #2E141D;
	border-bottom: 4px solid #546350;
	padding: 15px;
	text-align: center;
}

h1 {
	font-family: 'Medula One', cursive;
	font-size: 45px;
	color: #546350;
	margin-top: 0;
}

nav ul {
	padding: 0;
}

nav ul li {
	color: #9A6E25;
	display: inline;
	font-family: 'Medula One', cursive;
	font-size: 30px;
	padding: 0 15px 0 15px;
	transition: color 1s ease;
}

nav ul li:hover {
	color: #546350;
	cursor: pointer;
	text-decoration: underline;
}

#background-container {
	background-image: url(pics/journey.jpeg);
	margin: 0;
	padding-bottom: 25px;
	background-position: center center;
    background-attachment: fixed;
}

#articlesContainer {
	margin-left: 3px;
	margin-right: 3px;
	padding-bottom: 25px;
	position: relative;
	top: 0;
}

.articles {
	background-color: #546350;
	border-radius: 0 0 8px 8px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	position: relative;
}

.x-icon {
	float: right;
	height: 20px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 20px;
}

.x-icon:hover {
	cursor: pointer;
}

.articleTitle {
	font-family: 'Medula One', cursive;
	font-size: 45px;
	margin: 0 0 0 178px;
	padding: 10px 0 0 5px;
	position: static;
	width: 30%;
}

.photoContainer {
	float: left;
	margin: 10px;
	position: relative;
	top: 10px;
}

.articlePhotos {
	border: 1px solid white;
	display: block;
	height: auto;
	margin: 4px 3px 4px 3px;
	width: 150px;
}

.articleText {
	padding: 0 5px 10px 5px;
	position: static;
	margin-left: 178px;
	max-width: 80%;
}

#indexContainer {
	background-color: rgba(119, 116, 71, 0.65);
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#about {
	background-color: #9A6E25;
	border-radius: 8px;
	float: left;
	font-size: 13px;
	margin: 0 30px 10px 0;
	width: 180px;
}

#aboutMeTitle {
	font-family: 'Medula One', cursive;
	font-size: 30px;
	margin-left: 5px;
}

#photoID {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 45px;
}

#noteAbout {
	padding: 0 5px 5px 5px;
}

#socialMediaNav {
	background-color: #2E141D;
	border-radius: 0 0 5px 5px;
	padding: 5px;
	position: static;
	right: 0;
	top: 78px;
	width: 100%;
	
}

.soc-icon {
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	width: 30px;
}

#openingText {
	padding: 30px;
}

#columnTextTitle {
	background-color: #9A6E25;
	border-top: 2px solid #2E141D;
	border-bottom: 2px solid #546350;
	border-radius: 8px 8px 0 0;
	font-family: 'Medula One', cursive;
	font-size: 34px;
	margin: 0 0 5px;
	padding: 5px 10px;
}

#columnText {
	font-size: 14px;
	margin: 0 5px;
	padding: 5px 10px 25px 10px;

	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
	
	-webkit-column-rule: 1px solid #546350; /* Chrome, Safari, Opera */
	-moz-column-rule: 1px solid #546350; /* Firefox */
	column-rule: 1px solid #546350;
}

footer {
	background-color: #2E141D;
	border-top: 4px solid #546350;
	color: white;
	padding: 10px;
}

#footer-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

#contact {
	max-width: 500px;
	display: inline-block;
	margin: 15px 0;
}

#envelope-icon {
	margin: 2px 5px 0 0;
	position: relative;
	top: -6px;
	width: 30px;
}

#contactMeTitle {
	color: #9A6E25;
	font-family: 'Medula One', cursive;
	font-size: 30px;
}

#formName, #formEmail {
	width: 500px;
}

#formMessage {
	height: 140px;
	max-height: 140px;
	max-width: 100%;
	width: 100%;
}

#submit {
	color: #2E141D;
	margin-top: 5px;
	width: 70px;
}

#gallery {
	background-color: #9A6E25;
	border-radius: 8px;
	display: inline-block;
	margin-top: 25px;
	max-width: 500px;
	padding: 10px;
	float: right;
}

#galleryTitle {
	color: #2E141D;
	font-family: 'Medula One', cursive;
	font-size: 30px;
}


#galleryPhotoContainer {
	margin-top: 20px;
}

.galleryPhotos {
	border: 1px solid;
	height: 60px;
	margin: 2px;
}

.clear {
	clear: both;
}

#signature {
	color: #9A6E25;
	font-size: 8px;
	margin-top: 40px;
}

@media (max-width: 1010px){
	#contact, #gallery {
		width: 100%;
		float: none;
		margin: 20px auto 0 auto;
		display: block;
	}
	#signature {
		text-align: center;
	}
}

@media (max-width: 600px){
	ul {
		width: 100%;
	}

	.articles {
		margin-left: 3px;
		margin-right: 3px;
		position: static;
	}

	.articleTitle {
		margin-left: 158px;
		width: 40%;
	}

	.articlePhotos {
		height: auto;
		width: 130px;
	}

	.articleText {
		margin-left: 158px;
	}

	#about {
		margin: 0 0 20px 0;
		width: 100%;
	}

	#socialMediaNav {
		background-color: #2E141D;
		border-radius: 0 0 5px 5px;
		position: static;
		width: 100%;
	}

	.soc-icon {
		display: inline-block;
		padding: 4px;
		width: 40px;
	}

	#columnTextTitle {
		margin: 0;
		width: 100%;
	}
		
	#columnText {
		margin: 0;
		padding: 10px;
		width: 100%;

		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		
		-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
		-moz-column-gap: 10px; /* Firefox */
		column-gap: 10px;
		
		-webkit-column-rule: 1px solid #546350; /* Chrome, Safari, Opera */
		-moz-column-rule: 1px solid #546350; /* Firefox */
		column-rule: 1px solid #546350;
	}

	#formName, #formEmail {
		width: 100%;
	}
}

@media (max-width: 400px){
	nav ul li {
		display: list-item;
		list-style-type: none;
		text-align: center;
	}

	.x-icon {
		margin-right: 5px;
		margin-top: 5px;
	}

	.articleTitle {
		font-size: 40px;
		margin: 0;
		padding: 10px 10px 0 10px;
		position: static;
		width: 80%;
	}

	.photoContainer {
		margin: 0 0 5px 0;
		padding: 5px;
		top: 22px;
	}

	.articlePhotos {
		border: 1px solid white;
		display: inline-block;
		height: 60px;
		margin: 1px 0 2px 0;
		width: auto;
	}

	.articleText {
		clear: both;
		margin: 0;
		max-width: 100%;
		padding: 3px;
	}

	#columnText {
		margin-bottom: 30px;
		padding: 0 5px 0 5px;

		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		
		-webkit-column-gap: 5px; /* Chrome, Safari, Opera */
		-moz-column-gap: 5px; /* Firefox */
		column-gap: 5px;
		
		-webkit-column-rule: 1px solid #546350; /* Chrome, Safari, Opera */
		-moz-column-rule: 1px solid #546350; /* Firefox */
		column-rule: 1px solid #546350;
	}
}